---
import Basic from "./menu/basic.html"
import DisabledItems from "./menu/disabled-items.html"
import Submenu from "./menu/submenu.html"
import NestedSubmenu from "./menu/nested-submenu.html"

interface Props {
  story: "basic" | "disabled-items" | "submenu" | "nested-submenu"
}

const { story } = Astro.props
---

<script>
  import { registerElements } from "@aria-ui/elements"

  registerElements()
</script>

<style is:global>
  aria-ui-menu-popup {
    transform-origin: var(--transform-origin);
    transition: transform 200ms ease, opacity 200ms ease;
  }

  aria-ui-menu-popup[data-state="closed"] {
    transform: scale(0.9);
    opacity: 0;
  }
</style>

<div class="p-4">
  {story === "basic" && <Basic />}
  {story === "disabled-items" && <DisabledItems />}
  {story === "submenu" && <Submenu />}
  {story === "nested-submenu" && <NestedSubmenu />}
</div>
