<script>
  import "@aria-ui/popover"
  import "@aria-ui/combobox"
</script>

<aria-ui-popover-root>
  <aria-ui-popover-trigger>
    <button>Open</button>
  </aria-ui-popover-trigger>
  <aria-ui-popover-content placement="bottom" fitViewport="true">
    <aria-ui-combobox-root>
      <input type="text" />
      <aria-ui-combobox-list>
        {
          Array.from({ length: 100 }, (_, index) => index).map((index) => {
            const text = `Option ${index + 1}`
            const value = `option_${index + 1}`
            return (
              <aria-ui-combobox-item value={value}>
                {text}
              </aria-ui-combobox-item>
            )
          })
        }
        <aria-ui-combobox-empty>No option found</aria-ui-combobox-empty>
      </aria-ui-combobox-list>
    </aria-ui-combobox-root>
  </aria-ui-popover-content>
</aria-ui-popover-root>

<style>
  aria-ui-popover-content {
    display: block;
  }

  aria-ui-popover-root {
    display: block;
  }

  aria-ui-combobox-content {
    display: flex;
    flex-direction: column;
  }

  aria-ui-combobox-item,
  aria-ui-combobox-empty {
    margin: 8px 0px 0px 0px !important;
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 28px;

    &[data-focused] {
      background-color: Highlight;
    }

    &[data-selected] {
      font-weight: bold;

      &::before {
        content: "✓";
        position: absolute;
        left: 4px;
      }
    }
  }

  aria-ui-popover-content:not([data-mounted]) {
    display: none;
  }

  aria-ui-combobox-list {
    display: block;
  }
</style>
