<script src="./combobox-preview.ts"></script>

<aui-popover-root>
  <aui-popover-trigger>
    <button>Open</button>
  </aui-popover-trigger>
  <aui-popover-content placement="bottom" fitViewport="true">
    <aui-combobox-root>
      <input type="text" />
      <aui-combobox-list>
        {
          Array.from({ length: 100 }, (_, index) => index).map((index) => {
            const text = `Option ${index + 1}`;
            const value = `option_${index + 1}`;
            return <aui-combobox-item value={value}>{text}</aui-combobox-item>;
          })
        }
        <aui-combobox-empty>No option found</aui-combobox-empty>
      </aui-combobox-list>
    </aui-combobox-root>
  </aui-popover-content>
</aui-popover-root>

<style>
  aui-popover-content {
    display: block;
  }

  aui-popover-root {
    display: block;
  }

  aui-combobox-content {
    display: flex;
    flex-direction: column;
  }

  aui-combobox-item,
  aui-combobox-empty {
    margin: 8px 0px 0px 0px !important;
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 28px;

    &[data-focused] {
      background-color: Highlight;
    }

    &[data-selected] {
      font-weight: bold;

      &::before {
        content: "✓";
        position: absolute;
        left: 4px;
      }
    }
  }

  aui-popover-content:not([data-side]) {
    display: none;
  }
</style>
