aui-select-positioner {
  display: block;
}

aui-select-root {
  display: block;
}

aui-select-trigger {
  display: inline-block;
  border: 1px solid ButtonBorder;
}

aui-select-list {
  display: flex;
  flex-direction: column;
}

aui-select-item {
  display: block;
  position: relative;
  padding-left: 28px;
  padding-right: 28px;

  &[data-focused] {
    background-color: Highlight;
  }

  &[data-selected] {
    font-weight: bold;

    &::before {
      content: "✓";
      position: absolute;
      left: 4px;
    }
  }
}
