<script>
  import "@aria-ui/select"
</script>

<aria-ui-select-root>
  <aria-ui-select-trigger>
    <button>
      <aria-ui-select-value placeholder="Select an option..."
      ></aria-ui-select-value>
    </button>
  </aria-ui-select-trigger>
  <aria-ui-select-content>
    <aria-ui-select-list value="option2">
      <aria-ui-select-item value="option1">Option 1</aria-ui-select-item>
      <aria-ui-select-item value="option2">Option 2</aria-ui-select-item>
      <aria-ui-select-item value="option3">Option 3</aria-ui-select-item>
      <aria-ui-select-item value="option11">Option 11</aria-ui-select-item>
      <aria-ui-select-item value="option12">Option 12</aria-ui-select-item>
      <aria-ui-select-item value="option13">Option 13</aria-ui-select-item>
    </aria-ui-select-list>
  </aria-ui-select-content>
</aria-ui-select-root>

<style>
  aria-ui-select-content {
    display: block;
  }

  aria-ui-select-content:not([data-mounted]) {
    display: none;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }

  aria-ui-select-content[data-state="open"] {
    animation: slideIn 150ms ease-out forwards;
  }

  aria-ui-select-content[data-state="closed"] {
    animation: slideOut 150ms ease-out forwards;
  }

  aria-ui-select-root {
    display: block;
  }

  aria-ui-select-list {
    display: flex;
    flex-direction: column;
  }

  aria-ui-select-item {
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 28px;

    &[data-focused] {
      background-color: Highlight;
    }

    &[data-selected] {
      font-weight: bold;

      &::before {
        content: "✓";
        position: absolute;
        left: 4px;
      }
    }
  }
</style>
